@page "/new-competition"

<PageHeader HeaderText="Create a new Competition" />

<EditForm Model="@NewCompetition" OnValidSubmit="HandleSubmit">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Enter details</h5>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Name</label>
                            <InputText @bind-Value="NewCompetition.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Start Date</label>
                            <InputDate @bind-Value="StartDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Number of Weeks</label>
                            <InputNumber @bind-Value="NewCompetition.NumberOfWeeks" @oninput="HandleWeekChange" class="form-control" min="1" max="52" step="1" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>End Date</label>
                            <InputDate @bind-Value="NewCompetition.EndDate" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Play In Amount</label>
                            <InputNumber @bind-Value="NewCompetition.PlayInAmount" class="form-control" step="0.01" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Pick your weigh-in dates</h5>
                </div>
                <div class="card-body">
                    @foreach (var deadline in NewCompetition.WeighInDeadlines.OrderBy(w => w.DeadlineDate))
                    {
                        @if (deadline.DeadlineDate == NewCompetition.StartDate || deadline.DeadlineDate == NewCompetition.EndDate)
                        {
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-check">
                                        <InputCheckbox @bind-Value="deadline.IsActive" class="form-check-input" disabled />
                                        <label class="form-check-label">@deadline.DeadlineDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-check">
                                        <InputCheckbox @bind-Value="deadline.IsActive" class="form-check-input" />
                                        <label class="form-check-label">@deadline.DeadlineDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <button @onclick='() => Navigation.NavigateTo("/")' class="btn btn-secondary btn-block"
                    type="reset">
                Cancel
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-success btn-block" type="submit">
                @if (IsFormSubmitting)
                {
                    <span class="spinner-border spinner-border-sm"></span><span> Submitting</span>
                }
                else
                {
                    <span>Submit</span>
                }
            </button>
        </div>
    </div>
</EditForm>
