@page "/"

@inject NavigationManager navigation

<AuthorizeView>
    <Authorized>
        <CompetitionsList />
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-12 text-center">
                <button @onclick='() => navigation.NavigateTo("authentication/login")' class="btn btn-secondary" type="button">Log In</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
