@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pre-app-loading-spinner {
    margin-top: 50px;
}

div.card {
    margin-bottom: 20px;
}
