@attribute [Authorize]

@inject NavigationManager navigation
@inject CompetitionsService competitionsService
@inject ContestantsService contestantsService
@inject WeightLogsService weightLogsService

@if (competitions != null)
{
    <PageHeader headerText="Competitions" />

    @if (competitions.Any())
    {
        <div class="row">
            @foreach (var competition in competitions.OrderByDescending(c => c.StartDate))
            {
                <div class="col-12 col-md-4">
                    <CompetitionQuickDetailsCard competition="@competition" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12 text-center">
                <p>There are no competitions yet.</p>
            </div>
        </div>
    }
}
else
{
    <LoadingSpinner />
}

@code {
    private List<Competition> competitions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        competitions = await competitionsService.GetCompetitions();
    }
}
