@inject NavigationManager Navigation

<div class="card shadow">
    <div class="card-header">
        <h5>Competition Details</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <span><strong>Play In:</strong> @Competition.PlayInAmount.ToString("C")</span>
            </div>
            <div class="col-6">
                <span><strong>Number of weeks:</strong> @Competition.NumberOfWeeks</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span><strong>Start Date:</strong> @Competition.StartDate.ToShortDateString()</span>
            </div>
            <div class="col-6">
                <span><strong>End Date:</strong> @Competition.EndDate.ToShortDateString()</span>
            </div>
        </div>
        @if (DateTime.Today < Competition.WeighInDeadlines.Where(w => w.IsActive).OrderBy(w => w.DeadlineDate).FirstOrDefault().DeadlineDate)
        {
            <div class="row">
                <div class="col-12">
                    <button @onclick='() => Navigation.NavigateTo($"/edit-competition/{Competition.CompetitionId}")'
                            class="btn btn-secondary btn-block" type="button">
                        Edit
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Competition Competition { get; set; }
}
