<div class="card shadow">
    <div class="card-header">
        <h5>Contestants</h5>
    </div>
    <div class="card-body">
        @if (Competition.Contestants.Any())
        {
            @if (!Competition.Contestants.Any(c => c.UserId == UserId) && DateTime.Today <= Competition.StartDate)
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary" @onclick="HandleContestantJoin">
                            @if (IsContestantJoining)
                            {
                                <span class="spinner-border spinner-border-sm"></span><span> Joining</span>
                            }
                            else
                            {
                                <span>Join</span>
                            }
                        </button>
                    </div>
                </div>

                <hr />
            }

            <div class="row">
                <div class="col-12">
                    <ul>
                        @foreach (var contestant in Competition.Contestants)
                        {
                            <li>@contestant.Username</li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            @if (DateTime.Today <= Competition.StartDate)
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary" @onclick="HandleContestantJoin">
                            @if (IsContestantJoining)
                            {
                                <span class="spinner-border spinner-border-sm"></span><span> Joining</span>
                            }
                            else
                            {
                                <span>Join</span>
                            }
                        </button>
                    </div>
                </div>

                <hr />
            }

            <div class="row">
                <div class="col-12 text-center">
                    <p>No contestants yet.</p>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Competition Competition { get; set; }
    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public bool IsContestantJoining { get; set; }
    [Parameter]
    public EventCallback HandleContestantJoin { get; set; }
}
