
<div class="card shadow">
    <div class="card-header">
        <h5>Results</h5>
    </div>
    <div class="card-body">
        @if (Competition != null)
        {
            @if (CompetitionResults.Any())
            {
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-striped table-borderless table-responsive-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var contestant in Competition.Contestants.OrderBy(c => c.Username))
                                    {
                                        <th>@contestant.Username</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var deadline in CompetitionResults)
                                {
                                    <tr>
                                        <td><strong>@deadline.Key.DeadlineDate.ToString("M/d")</strong></td>
                                        @foreach (var contestantResult in deadline.Value.OrderBy(c => c.Contestant.Username))
                                        {
                                            @if (contestantResult.IsDeadlineWinner)
                                            {
                                                <td class="text-success">@contestantResult.PercentChange.ToString("P2")</td>
                                            }
                                            else
                                            {
                                                <td>@contestantResult.PercentChange.ToString("P2")</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <p>There are no results yet</p>
                    </div>
                </div>
            }
        }
        else
        {
            <LoadingSpinner />
        }
    </div>
</div>
