
<div class="card shadow">
    <div class="card-header">
        <h5>Results</h5>
    </div>
    <div class="card-body">
        @if (Competition != null)
        {
            @if (CompleteDeadlines.Any())
            {
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-striped table-borderless table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var contestant in Competition.Contestants.OrderBy(c => c.Username))
                                    {
                                        <th>@contestant.Username</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var deadline in CompleteDeadlines.OrderBy(d => d.DeadlineDate))
                                {
                                    <tr>
                                        <td><strong>@deadline.DeadlineDate.ToString("M/d")</strong></td>
                                        @foreach (var contestant in Competition.Contestants.OrderBy(c => c.Username))
                                        {
                                            <td>
                                                @(((contestant.WeightLogs
                                                                .Where(w => w.MeasurementDate.Date < deadline.DeadlineDate.Date)
                                                                .OrderByDescending(w => w.MeasurementDate)
                                                                .FirstOrDefault().WeightMeasurement
                                                                -
                                                                contestant.WeightLogs
                                                                            .Where(w => w.MeasurementDate.Date == deadline.DeadlineDate.Date)
                                                                            .FirstOrDefault().WeightMeasurement)
                                                                            /
                                                                            contestant.WeightLogs
                                                                                        .Where(w => w.MeasurementDate.Date < deadline.DeadlineDate.Date)
                                                                                        .OrderByDescending(w => w.MeasurementDate)
                                                                                        .FirstOrDefault().WeightMeasurement).ToString("P2"))
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <p>There are no results yet</p>
                    </div>
                </div>
            }
        }
        else
        {
            <LoadingSpinner />
        }
    </div>
</div>
