
@if (Competitions != null)
{
    <PageHeader HeaderText="Competitions" />

    @if (Competitions.Any())
    {
        <div class="row">
            @foreach (var competition in Competitions.OrderByDescending(c => c.StartDate))
            {
                <div class="col-12 col-md-4">
                    <CompetitionQuickDetailsCard Competition="@competition" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12 text-center">
                <p>There are no competitions yet.</p>
            </div>
        </div>
    }
}
else
{
    <LoadingSpinner />
}
