
<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link" href="#" @onclick="BeginLogout">Log out</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="authentication/login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>
