
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
    <div class="container">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            <img src="logo.png" />
        </NavLink>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <LoginDisplay />
                <li class="nav-item">
                    <a href="#" class="nav-link" disabled><small>Version 1.0</small></a>
                </li>
            </ul>
        </div>
    </div>
</nav>